<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  
  <label for="user_email">Email:</label>
  <input type="text" id="user_email" name="email"></input>
  
  <label for="user_password">Password:</label>
  <input type="text" id="user_password" name="password"></input>
  
  <input type="submit" value="Log In">
</form>
