<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <label for="user_name">User name:</label>
  <input type="text" id="user_name" name="name"></input>
  
  <label for="user_email">User Email:</label>
  <input type="text" id="user_email" name="email"></input>
  
  <label for="user_password">User Password:</label>
  <input type="text" id="user_password" name="password"></input>
  
  <input type="submit" id="submit">Sign Up</input>
</form>


